<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

@*     <link rel="stylesheet" type="text/css" href="~/css/index.css" /> *@


@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
   @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
        

@*          cái link style của phần product lẫn cái style dùng để hiện lên thông báo trên cái product khi delelete *@
        <link rel="stylesheet" type="text/css" href="~/css/ProductCard.css" /> 
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
</head>
<body>
    <header>
        <nav class="  navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand text-navbar" asp-area="" asp-page="/Index">Home</a>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="navbar-brand text-navbar" asp-area="" asp-page="/Admin/account">Account</a>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @*  <li class="nav-item">
                            <a class="nav-link text-dark text-navbar" asp-area="" asp-page="/Index">Home</a>
                        </li> *@

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Product_Page/Index">ProductPage</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Product_Page/IndexModel2">pageTest</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customer_Page/Index">Customer</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customer_Page/Index1">Customer</a>
                        </li>
                         <a class="nav-link text-dark text-navbar" asp-area="" asp-page="/account/profile">Profile</a>
                      
                    </ul>
                   

                    <button class="btn-login" >
                        <a class="nav-link text-dark" asp-area="" asp-page="/account/login" asp-page-handler="Logout">LogOut</a>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
           @*  cái này sẽ cho sử dụng chức năng thông báo ở mọi page *@
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
@* 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Final - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    *@

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
  
  
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>