@import url('https://fonts.googleapis.com/css?family=Signika');





body {
	font-family: 'Signika', sans-serif;
	font-size: 5vh;
	background: radial-gradient(circle at bottom, #bd8fc4, #1e2020);

}

.head {
    width: 100%;    
	/* background: linear-gradient(#e50000, #660000); */
	padding: 1px;
	transform: translateY(10%);
	cursor: not-allowed;
    display: flex;
    justify-content: center;
}

.inner {
	background: radial-gradient(#b2b2b2, #fff);
	padding: 10vh;
	clip-path: circle(40% at center);
    width: 300px;
}
.background{
    display: flex;
    justify-content: center;
    width: 320px;
    background: linear-gradient(#e50000, #660000);    
	clip-path: circle(46% at center);
}
.body {
	width: 3vh;
	background: linear-gradient(to right, #474747, #1a1a1a 65%);
	margin: auto;
	animation: Body 1.5s ease-out forwards;
}

@keyframes Body {
	from {
		height: 5vh;
	}
	to {
		height: 40vh
   }
}