@page
@model Final.Pages.Account.ChangePasswordModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firt Login</title>
    <link rel="stylesheet" type="text/css" href="~/css/account/changepass.css" />

    <!-- Add any additional head elements as needed -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div id="box">
  
  <h3 class="mb-5">Change Password <span>Please input new Password!</span></h3>
   <form method="post" autocomplete="off">
    <p>
        <input  name="newPass" type="password" value="@Model.newPass" placeholder="Enter Password" id="p" class="password" />
      <button class="unmask" type="button"></button>
    </p>  
    <p>
        <input name="confirmPass" type="password" value="@Model.confirmPass" placeholder="Confirm Password" id="p-c" class="password" />
      <button class="unmask" type="button"></button>
    @* Error  *@
    @if (Model.ErrorMess != null)
    {
        <div id="ErrMess" class="alert alert-warning" role="alert">
            @Model.ErrorMess
        </div>
    }
    </p>
    
    <button type="submit" class="btn btn-success mb-3"> Send </button>
    <div class="mb-2" id="valid"></div>  
    <div id="strong"><span></span></div>
  </form>
</div>

 <script src="~/js/account/changepass.js"></script>