@page
@model Final.Pages.Account.ForbiddenModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
    <link rel="stylesheet" type="text/css" href="~/css/account/forbidden.css" />

    <!-- Add any additional head elements as needed -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="wrapper text-center">
	<div class="head">
        <div class="background" >
		    <div class="inner">
			    <h1>403</h1>
			    <h3>Forbidden</h3>
                <small>Your account is not authorized to access!</small>
		    </div>
        </div>
	</div>
	<div class="body"></div>
</div>
