@page 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Final.Pages.Transaction_Page.Index1Model
@{
    ViewData["Title"] = "Multiaction";
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..." crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..." crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..." crossorigin="anonymous"></script>

<form method="post" asp-page-handler="AddNumber">
   <input type="hidden" name="number" id="numberInput" value="pokemon" />
    <button type="submit">Add Number</button>
</form>

<a class="btn btn-primary" asp-page-handler="GetNumbers">Get Numbers</a>

<form method="post" asp-page-handler="DeleteNumber">
  <input type="hidden" name="number" id="numberInput" value="pokemon" />
    <button type="submit">Delete Number</button>
</form>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
    View
</button>
<h3>@Model.Message</h3>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="max-height: 200vh;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Create a table to display customer details -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Total Payment</th>
                            <th>Payment Receive</th>
                            <th>MoneyExchange</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post" asp-page-handler="AddNumber">
                            <input type="number" name="number" placeholder="Enter a number" required />
                            <button type="submit">Add Number</button>
                        </form>

                        @foreach (var order in Model.nonstaticlist)
                        {
                                <tr>
                                    @order
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
